.MailForm {
    width: 100%;    
    padding: 3vh 0 3vh 0;
    text-align: center;
    font-size: 0.8rem;
}

.MailForm label {
    width: 100%;      
}

.MailForm .inputField {    
    display: flex;
    align-items: center;
    justify-content: center;
}

.MailForm .inputField input, .MailForm .inputField textarea {
    width: 80%;
    
    border: 0;
    border-bottom: 0.1rem solid #212529;

    padding: 2vh 1vw;

    color: #ddd;
    background: rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
}

.MailForm .inputField input::placeholder, .MailForm .inputField textarea::placeholder {
    color:#ddd;
}

.MailForm .inputField textarea {
    min-height: 3rem;
}

.MailForm .inputField input:focus, .MailForm .inputField textarea:focus {
    outline-width: 0;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid #816732;
}

.MailForm .inputField textarea{
    height: 30vh;
}

.SendMailButton {
    background: #212529;
    border: 0;
    color: #fff;
    padding: 0.7rem 1.4rem;
}