.App {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}


.row {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
}

.first {
  height: 85vh;

  background: url('../images/3.png') no-repeat center center FIXED; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.first .general {
  height: 30%;
  background-color:rgba(0, 0, 0, 0.5);
}

.gameTitle {
  width: 100%;
  height: 15vh;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #fabf49;
}

.gameTitle h1 {  
  font-size: 4.5rem;
  font-weight: 700;
}

.second {
  height: auto;
  padding: 10vh 0 10vh 0;
  background: #fabf49;
}

.sectionTitle {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
}

.sectionTitle h2 {  
  font-size: 4rem;
  font-weight: 700;
}

.text {
  text-align: center;
  font-size: 2rem;
}

.third {
  height: 70vh;

  background-color: #8e7a52;
}

.slide {
  width: 100%;
}

.blackAlphaDiv {
  width: 100%;
  height: 100%;

  background-color:rgba(0, 0, 0, 1);
}

@media (max-width: 768px) { 
  .gameTitle h1 {  
    font-size: 3rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .third {
    height: auto;
  }
}